.btn {
  display: inline-block;
  background-color: #25D366; /* Cor do WhatsApp */
  color: #fff;
  padding: 12px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #128C7E;
}

.btn-back {
    display: block;
    width: fit-content; /* Ajusta a largura ao conteúdo */
    margin: 20px auto 0; /* Centralizado horizontalmente */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: 1px solid #5E5E5B; /* Cor da borda */
    color: #FFFFFF; /* Cor do texto */
    border-radius: 8px;
    transition: all .3s;
}

.btn-back:hover {
    background: #5E5E5B; /* Cor da borda no hover */
    color: #F8F8F7;
}
