.group-content {
  margin-bottom: 20px;
  line-height: 1.6;
}

.group-content h2 {
  border-bottom: 2px solid #5E5E5B; /* Borda com a cor correta */
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.group-rules {
    list-style-type: none;
    padding-left: 0;
}

.group-rules li {
    background-color: #1A1A19; /* Fundo mais escuro e consistente */
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    border-left: 3px solid #4A90E2; /* Usando o azul da outra página */
}
