.disclaimer {
  font-size: 0.9em;
  color: #B9B9B7; /* Cor de texto secundária */
  text-align: center;
  margin-top: 30px;
  background-color: #1A1A19; /* Fundo mais escuro */
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #5E5E5B;
}
