.group-header {
  text-align: center;
  margin-bottom: 30px;
}

.group-image-container {
    width: 100%;
    max-height: 300px; /* Altura máxima para a imagem */
    overflow: hidden; /* Garante que a imagem não ultrapasse o container */
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #1A1A19; /* Fundo mais escuro */
    border: 1px solid #5E5E5B;
}

.group-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#group-name {
  font-size: 2.5em;
  margin: 10px 0;
  color: #F8F8F7;
}

.stats {
  color: #B9B9B7; /* Cor de texto secundária */
  margin-bottom: 20px;
}
